dill == 0.2.5
PyMySQL == 0.7.6
ChemSpiPy == 1.0.5
h5py == 2.6.0
numpy == 1.11.1
scipy == 0.18.1
scikit-learn == 0.18
overrides == 1.7
pandas == 0.19.0
matplotlib == 1.5.3
seaborn == 0.7.1
altair == 1.2.0
vega == 0.4.4
